.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--bg-header-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 26px 32px;
}
.logo {
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.avatar {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    background-image: url(../../../../assets/person.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 8px solid #fff;
}
