.container {
    display: flex;
    flex-direction: column;
    /* gap: 0 20px; */
}
.poster {
    border-radius: 8px;
    margin-bottom: 16px;
}
.span {
    /* font-family: SF Pro Text; */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
